body {
  margin: 0;
  line-height: normal;
}
.burger-child {
  position: absolute;
  top: 1683px;
  left: 0;
  width: 1440px;
  height: 335px;
}
.o-nous-trouver16,
.plan-du-site8 {
  position: absolute;
  top: 1761px;
  left: 504px;
}
.o-nous-trouver16 {
  left: 718px;
}
.cgu8,
.mention-lgales11 {
  position: absolute;
  top: 1772px;
  left: 93px;
}
.cgu8 {
  top: 1830px;
}
.contact8,
.la-carte8 {
  position: absolute;
  top: 1827px;
  left: 504px;
}
.contact8 {
  top: 1761px;
  left: 1093px;
  display: inline-block;
  width: 227px;
  height: 37px;
}
.tiltil-story8 {
  position: absolute;
  top: 1863px;
  left: 506px;
}
.o-nous-trouver17 {
  position: absolute;
  top: 1810px;
  left: 1093px;
  display: inline-block;
  width: 227px;
  height: 38px;
}
.le-resto9 {
  top: 1899px;
  left: 506px;
}
.actu8,
.faq8,
.le-resto9 {
  position: absolute;
}
.faq8 {
  top: 1851px;
  left: 1095px;
  display: inline-block;
  width: 227px;
  height: 37px;
}
.actu8 {
  top: 1935px;
  left: 507px;
}
.image-4-icon8,
.mention-lgales12 {
  position: absolute;
  top: 1887px;
  left: 93px;
}
.image-4-icon8 {
  top: 1832px;
  left: 718px;
  width: 245px;
  height: 133px;
  object-fit: cover;
}
.iconsaxlinearfacebook8,
.iconsaxlinearinstagram8 {
  position: absolute;
  top: 1749px;
  left: 1340px;
  width: 47px;
  height: 49px;
  overflow: hidden;
}
.iconsaxlinearfacebook8 {
  top: 1820px;
  left: 1343px;
  width: 40px;
  height: 46px;
}
.burger-item {
  position: absolute;
  top: 152px;
  left: 0;
  background-color: #1e76b7;
  width: 1440px;
  height: 52px;
}
.burger-child1,
.burger-inner {
  position: absolute;
  top: 160.66px;
  left: 1393.38px;
  width: 16.19px;
  height: 34.11px;
  cursor: pointer;
}
.burger-child1 {
  left: 26.08px;
}
.boissons4,
.nos-burgers3,
.nos-desserts3 {
  position: absolute;
  font-size: 40px;
  font-family: Roboto;
}
.nos-burgers3 {
  top: 152px;
  left: 84px;
  color: #830f0f;
  display: inline-block;
  width: 215px;
  height: 49px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.boissons4,
.nos-desserts3 {
  top: 154px;
  left: 1155px;
  color: #760b0b;
  cursor: pointer;
}
.nos-desserts3 {
  top: 152px;
  left: 345px;
  color: #731111;
}
.burger-1-icon,
.image-10-icon7 {
  position: absolute;
  top: 95px;
  left: 608px;
  width: 151.41px;
  height: 97px;
  object-fit: cover;
}
.burger-1-icon {
  top: 250px;
  left: 48px;
  width: 253px;
  height: 218px;
}
.burger-child2 {
  position: absolute;
  top: calc(50% + 404px);
  left: calc(50% - 193px);
  background-color: #fff;
  width: 210px;
  height: 210px;
}
.poutine-burger-1-icon1 {
  position: absolute;
  top: 1370px;
  left: 29px;
  width: 328px;
  height: 223px;
  object-fit: cover;
}
.le-simple,
.un-burger-fait-maison-remplis {
  margin-block-start: 0;
  margin-block-end: 0;
}
.un-burger-fait-maison-remplis {
  color: #ad2323;
}
.le-simple-container {
  position: absolute;
  top: 266px;
  left: 351px;
  font-size: 28.44px;
  font-family: Roboto;
  display: inline-block;
  width: 527px;
  height: 147px;
  color: #dc433b;
}
.remplis-de-sa {
  margin: 0;
}
.le-double-chicken-container {
  position: absolute;
  top: 574px;
  left: 280px;
  font-size: 32px;
  font-family: Roboto;
  color: #a21515;
  white-space: pre-wrap;
  display: inline-block;
  width: 1001px;
  height: 174px;
}
.burger-cinq-1 {
  position: absolute;
  top: 801px;
  left: 29px;
  width: 270px;
  height: 218px;
  object-fit: cover;
}
.le-veggie-burger-container {
  position: absolute;
  top: 1080px;
  left: 352px;
  font-size: 40px;
  font-family: Roboto;
  color: #b51b1b;
}
.veggie-1-icon {
  position: absolute;
  top: 1107px;
  left: 56px;
  width: 216px;
  height: 205px;
  object-fit: cover;
}
.lextra-le-burger-container {
  position: absolute;
  top: 1392px;
  left: 388px;
  font-size: 40px;
  font-family: Roboto;
  color: #5e1717;
  display: inline-block;
  width: 497px;
  height: 219px;
}
.sand-timer {
  position: absolute;
  top: 1222px;
  left: 897px;
  width: 90px;
  height: 90px;
}
.accompagnements7 {
  position: absolute;
  top: 152px;
  left: 798px;
  font-size: 40px;
  font-family: Roboto;
  color: #851313;
  cursor: pointer;
}
.burger-poulet-1 {
  position: absolute;
  top: 542px;
  left: 44px;
  width: 219px;
  height: 214px;
  object-fit: cover;
}
.burger-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e76b7;
  width: 1440px;
  height: 113px;
}
.un-burger-de-5-steack-coulant {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #bc1a1a;
}
.le-mastodonte-16-container {
  position: absolute;
  top: 783px;
  left: 350px;
  font-size: 40px;
  font-family: Roboto;
  display: inline-block;
  width: 489px;
  height: 245px;
  color: #e10606;
}
.burger {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2018px;
  overflow: hidden;
  text-align: left;
  font-size: 25px;
  color: #000;
  font-family: Inter;
}
